body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-container {
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px;
    height: 450px;
    text-align: center;
    font-family: "Poppins";
}

.login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.login-form {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: flex;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Poppins";
    border-radius: 10px;
}

.login-button {
    background-color: #FF5800;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 20%;
    font-family: "Poppins";
    margin-top: 20px;
}


div {
    margin-top: 10px;
}

.logo-img{
    height: 100px;
    margin-top: 20px;
}
